<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Alert</title>
</head>
<body>
      <h1>Sorry! We will be back soon. </h1>
      <p> The site is under maintainance</p>
</body>
</html>